<form [ngFormModel]="form" (ngSubmit)="changePassword()">
    <div class="form-group">
        <label for="username">Current Password</label>
        <input 
            id="currentPassword" 
            type="text" 
            class="form-control"
            ngControl="currentPassword"
            #currentPassword="ngForm">
            <div *ngIf="currentPassword.control.pending">Checking for uniqueness...</div>
            <div *ngIf="currentPassword.touched && currentPassword.errors" >                
                <div *ngIf="currentPassword.errors.required" class="alert alert-danger">
                    Old password is required
                </div> 
                <div
                *ngIf="currentPassword.errors.validOldPassword"
                class="alert alert-danger">Old password is incorrect.</div>               
             </div>
    </div>
    <div class="form-group">
        <label for="newPassword1">Password</label>
        <input 
            id="newPassword1" 
            type="text" 
            class="form-control"            
            ngControl="newPassword1"
             #newPassword1="ngForm">  
                     
             <div *ngIf="newPassword1.touched && newPassword1.errors" >  
                <div *ngIf="newPassword1.errors.required" class="alert alert-danger">
                    New password is required
                </div> 
                 <div *ngIf="newPassword1.errors.minlength" class="alert alert-danger">
                   Minimum length is {{newPassword1.errors.minlength.requiredLength}} characters
                </div> 
                
             </div>
    </div>
    
    <div class="form-group">
        <label for="newPassword2">Confirm Password</label>
        <input 
            id="newPassword2" 
            type="text" 
            class="form-control"
            (change)='log(form)'            
            ngControl="newPassword2"
             #newPassword2="ngForm">
             <div *ngIf="newPassword2.touched && !newPassword2.valid" class="alert alert-danger">                 
                    Confirm the password.
             </div>                
             
             <div
                *ngIf="newPassword2.touched && form.errors && form.errors.passwordsDontMatch" 
               class="alert alert-danger">Passwords don't match
             </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Change Password</button>
</form>