<form #f="ngForm" (ngSubmit)="onSubmit(f.form)">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input id="firstName" 
                ngControl="firstName" 
                #firstName="ngForm" 
                type="text" 
                class="form-control" 
                required
                minlength="4">
        <div *ngIf="firstName.touched && firstName.errors">
            
            <div class="alert alert-danger" *ngIf="firstName.errors.required">
                First name is required
            </div>
            <div class="alert alert-danger" *ngIf="firstName.errors.minlength">
                First name should be {{firstName.errors.minlength.requiredLength}} characters
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea   required 
                    #comment="ngForm" 
                    ngControl="comment" 
                    id="comment" 
                    cols="30" rows="10" 
                    class="form-control">
        </textarea>
        <div class="alert alert-danger" *ngIf="comment.touched && !comment.valid">
            Comment is required
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
</form>