<div class="info" *ngIf="recipe == null">
    <h1>Please choose or create a recipe!</h1>
</div>
<div class="recipe" *ngIf="recipe != null">
    <h1>{{recipe.name}}</h1>
    <span>
        <a (click)="onEdit()">Edit</a> | 
        <a class="danger" (click)="onDelete()">Delete</a>
    </span>
    <div class="img">
        <img [src]="recipe.imageUrl">
    </div>
    <div class="content">
        {{recipe.conent}}
    </div>
    <div class="list">
        <a (click)="onAddToShoppingList()" class="btn">Add all to shopping list</a>
        <ul>
            <li *ngFor="#item of recipe.ingredients">{{item.name}} ({{item.amount}})</li>
        </ul>
    </div>
</div>